.venv*
**/.venv*
__pycache__
**/__pycache__
*.pyc
**/*.pyc
*.pyo
**/*.pyo
.pytest_cache
**/.pytest_cache
.mypy_cache
**/.mypy_cache
.ruff_cache
**/.ruff_cache
.uv-cache
**/.uv-cache
.cache
**/.cache
.coverage
htmlcov
var
tests
packaging/build
packaging/dist
packaging/vendor
*.egg-info
**/*.egg-info
*.db
*.db-wal
*.db-shm
.env
.env.*
!.env.example
